## Importing required libraries

In [45]:
import os
import glob
import pandas as pd

#### Here, glob method from the module glob returns a list of all file paths that match the regex pattern *.txt 
#### This stores all file paths from the folder pos into a list.
#### And then a loop is used to open each text file from the path and the text in that file is appended to the list text.
#### Finally a dataframe of positive reviews is created

In [46]:
os.chdir("/.../Chapter 11/CS - IMDB Classification")
os.getcwd()

'/Users/Dippies/CODE PACKT - EML/Chapter 11/CS - IMDB Classification'

In [48]:
path="/.../Chapter 11/CS - IMDB Classification/txt_sentoken/pos/*.txt"

files = glob.glob(path)
text_pos = []

for p in files:
    file_read = open(p, "r")
    to_append_pos = file_read.read()
    text_pos.append(to_append_pos)
    file_read.close()

df_pos = pd.DataFrame({'text':text_pos,'label':'positive'})
df_pos.head()

      label                                               text
0  positive  assume nothing . \nthe phrase is perhaps one o...
1  positive  plot : derek zoolander is a male model . \nhe ...
2  positive  i actually am a fan of the original 1961 or so...
3  positive  a movie that's been as highly built up as the ...
4  positive   " good will hunting " is two movies in one : ...

#### Similarly reading negative reviews, a data frame is created

In [49]:
path="/.../Chapter 11/CS - IMDB Classification/txt_sentoken/neg/*.txt"

files = glob.glob(path)
text_neg = []

for n in files:
    file_read = open(n, "r")
    to_append_neg = file_read.read()
    text_neg.append(to_append_neg)
    file_read.close()


df_neg = pd.DataFrame({'text':text_neg,'label':'negative'})
df_neg.head()

      label                                               text
0  negative  bad . bad . \nbad . \nthat one word seems to p...
1  negative  isn't it the ultimate sign of a movie's cinema...
2  negative   " gordy " is not a movie , it is a 90-minute-...
3  negative  disconnect the phone line . \ndon't accept the...
4  negative  when robert forster found himself famous again...

#### Concatenating df_pos and df_neg

In [50]:
df_moviereviews=pd.concat([df_pos, df_neg])

In [51]:
print(df_moviereviews.head())
print(df_moviereviews.tail())

      label                                               text
0  positive  assume nothing . \nthe phrase is perhaps one o...
1  positive  plot : derek zoolander is a male model . \nhe ...
2  positive  i actually am a fan of the original 1961 or so...
3  positive  a movie that's been as highly built up as the ...
4  positive   " good will hunting " is two movies in one : ...
        label                                               text
995  negative  synopsis : when a meteorite crashlands in the ...
996  negative  it's now the anniversary of the slayings of ju...
997  negative  coinciding with the emerging popularity of mov...
998  negative  and now the high-flying hong kong style of fil...
999  negative  battlefield long , boring and just plain stupi...

#### Since we concatenated df_pos and df_neg as it is, the first half of them are labelled positive and the bottom half is negative.So in order to create randomness, we first shuffle the rows of the new dataframe and then renumber the row index

In [52]:
from sklearn.utils import shuffle

df_moviereviews=shuffle(df_moviereviews)
df_moviereviews.head(10)

        label                                               text
879  negative  capsule : the running gag pair of characters f...
310  positive  i rented this movie with very high hopes . \nt...
228  negative  the scene at the end of 1989's `dead poets soc...
891  negative  the makers of spawn have created something alm...
753  positive  robert benton has assembled a stellar , mature...
689  negative  tom dicillo directs this superficial comedy ab...
106  negative  another formula 'feel good' quirky comedy from...
130  negative  five years after his directorial debut based o...
382  positive  another 'independent film' , this comedy , whi...
222  positive  after the average mouse hunt , the silly small...

In [53]:
df_moviereviews.index = range(df_moviereviews.shape[0])
df_moviereviews.head(10)

      label                                               text
0  negative  capsule : the running gag pair of characters f...
1  positive  i rented this movie with very high hopes . \nt...
2  negative  the scene at the end of 1989's `dead poets soc...
3  negative  the makers of spawn have created something alm...
4  positive  robert benton has assembled a stellar , mature...
5  negative  tom dicillo directs this superficial comedy ab...
6  negative  another formula 'feel good' quirky comedy from...
7  negative  five years after his directorial debut based o...
8  positive  another 'independent film' , this comedy , whi...
9  positive  after the average mouse hunt , the silly small...

#### Writing this data frame to a csv file for future uses

In [58]:
df_moviereviews.shape

(2000, 2)

In [59]:
df_moviereviews.to_csv("/.../Chapter 11/CS - IMDB Classification/txt_sentoken/Data_IMDB.csv")